.v-dialog {
  .v-card {
    .v-card__title {
      &:after {
        content: '';
        width: 100%;
        margin: 16px auto 0;
        border-bottom: 1px solid $separator;
      }

      .headline {
        color: $primary-color;
      }
    }

    .v-input {
      .v-label {
        color: $primary-color;
      }
    }
  }
}