.v-datatable {
  &.v-table {
    thead {
      th {
        &.column {
          color: $primary-color;
          opacity: .54;

          &.sortable {
            &:hover {
              color: $primary-color;
              opacity: .87;

              .v-icon {
                color: $primary-color;
                opacity: .38;
              }
            }
          }

          &.active {
            &.sortable {
              color: $primary-color;
              opacity: .87;

              .v-icon {
                color: $primary-color;
                opacity: .87;
              }
            }
          }
        }
      }
    }

    .v-datatable__actions {
      color: $primary-color;
      opacity: .54;

      .v-text-field {
        > .v-input__control {
          > .v-input__slot {
            &:before {
              border-color: rgba(25, 118, 210, .42);
            }

            .v-select__selections {
              color: $primary-color;
              opacity: .87;
            }

            .v-icon {
              color: $primary-color;
              opacity: .54;
            }
          }
        }
      }
    }
  }
}