input[type=checkbox] {
  visibility: hidden;
}

/* SQUARED ONE */
.squaredOne {
  position: relative;
  display: flex;
  width: 18px;
  height: 18px;
  min-height: 18px;
  padding-left: 16px;
  background: #fcfff4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
  border: 1px solid #979797;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

  label {
    cursor: pointer;
    white-space: pre;

    &:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background: $text-color;
      top: 4px;
      left: 4px;
    }

    &:hover::after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
      filter: alpha(opacity=30);
      opacity: 0.3;
    }
  }

  input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
}