<template>
    <v-app id="inspire">
        <!-- Navigation -->
        <v-navigation-drawer :clipped="$vuetify.breakpoint.mdAndUp" app fixed v-model="drawer">
            <v-list dense>
                <template v-for="item in items">
                    <!-- Header Item Menu -->
                    <v-layout :key="item.heading" align-center row v-if="item.heading">
                        <v-flex xs6>
                            <v-subheader v-if="item.heading">{{ item.heading }}</v-subheader>
                        </v-flex>

                        <v-flex class="text-xs-center" xs6>
                            <a class="body-2 black--text" href="#!">EDIT</a>
                        </v-flex>
                    </v-layout>
                    <!-- Header Item Menu -->

                    <!-- Item w/ children Menu -->
                    <v-list-group :key="item.text" :prepend-icon="item.icon" v-else-if="item.children"
                                  v-model="item.model">
                        <v-list-tile :to="item.url" slot="activator">
                            <v-list-tile-content>
                                <v-list-tile-title>{{ item.text }}</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>

                        <v-list-tile :key="i" :to="child.url" @click="" v-for="(child, i) in item.children">
                            <v-list-tile-action v-if="child.icon">
                                <v-icon>{{ child.icon }}</v-icon>
                            </v-list-tile-action>

                            <v-list-tile-content>
                                <v-list-tile-title>{{ child.text }}</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list-group>
                    <!-- Item w/ children Menu -->

                    <!-- Item Menu -->
                    <v-list-tile :key="item.text" :to="item.url" @click="" v-else>
                        <v-list-tile-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-tile-action>

                        <v-list-tile-content>
                            <v-list-tile-title>{{ item.text }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <!-- Item Menu -->
                </template>
            </v-list>
        </v-navigation-drawer>
        <!-- Navigation -->

        <!-- Toolbar -->
        <v-toolbar :clipped-left="$vuetify.breakpoint.mdAndUp" app color="blue darken-3" dark fixed>
            <!-- Menu -->
            <v-toolbar-title class="ml-0 pl-3">
                <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                <span class="hidden-sm-and-down">VueJS BO</span>
            </v-toolbar-title>
            <!-- End Menu -->

            <v-spacer></v-spacer>

            <!-- Logo -->
            <router-link :to="{ name: 'home' }">
                <v-avatar tile>
                    <img alt="Logo" src="/images/logo.png" width="70">
                </v-avatar>
            </router-link>
            <!-- End Logo -->

            <v-spacer></v-spacer>

            <!-- User Options -->
            <v-menu bottom origin="center center" transition="scale-transition">
                <v-btn dark icon slot="activator">
                    <v-icon>more_vert</v-icon>
                </v-btn>

                <v-list>
                    <!-- Options -->
                    <v-list-tile :key="i" :to="item.url" @click="" v-for="(item, i) in options">
                        <v-list-tile-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-tile-action>

                        <v-list-tile-content>
                            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <!-- End Options -->

                    <!-- Logout -->
                    <v-list-tile @click="logout">
                        <v-list-tile-action>
                            <v-icon>exit_to_app</v-icon>
                        </v-list-tile-action>

                        <v-list-tile-content>
                            <v-list-tile-title>Logout</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <!-- End Logout -->
                </v-list>
            </v-menu>
            <!-- End User Options -->
        </v-toolbar>
        <!-- Toolbar -->

        <!-- Content-->
        <v-content>
            <v-container fill-height fluid>
                <v-layout>
                    <router-view></router-view>
                </v-layout>
            </v-container>
        </v-content>
        <!-- Content-->
    </v-app>
</template>

<script>
    export default {
        data: () => ({
            dialog: false,
            drawer: null,
            items: [
                {icon: 'home', text: 'Home', url: '/'},
                {icon: 'face', text: 'Users', url: '/users'}
            ],
            options: [
                {icon: 'perm_identity', title: 'Profile', url: '/profile'}
            ]
        }),
        props: {
            source: String
        },
        methods: {
            logout() {
                axios.post('/logout')
                    .then(() => window.location.href = '/');
            }
        }
    }
</script>
