<template>
    <!-- Routes -->
    <v-card>
        <!-- Title -->
        <v-card-title>
            <h2 class="headline">Dashboard</h2>
        </v-card-title>
        <!-- End Title -->
    </v-card>
    <!-- End Routes -->
</template>

<script>
    export default {
        name: "Overview",
        data() {
            return {};
        }
    }
</script>