<template>
    <!-- Users -->
    <v-card>
        <!-- Header -->
        <v-card-title>
            <h2 class="headline">Users</h2>

            <v-spacer></v-spacer>

            <v-text-field hide-details label="Search" ppend-icon="search" single-line v-model="search"></v-text-field>

            <!-- Edit User -->
            <v-dialog max-width="800px" v-model="dialog">
                <v-btn class="mb-2" color="primary" dark slot="activator">New</v-btn>

                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex md12>
                                    <v-form ref="form" v-model="valid">
                                        <v-flex md12>
                                            <v-text-field :rules="emailRules" @keyup="clearErrors" label="E-mail"
                                                          required v-model="editedItem.email"></v-text-field>

                                            <form-error :errors="errors.email" :valid="valid"
                                                        v-if="errors.email"></form-error>
                                        </v-flex>
                                    </v-form>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn @click="close" color="normal" flat>Cancel</v-btn>

                        <v-btn :disabled="!valid || hasErrors" @click="save" color="blue darken-1" flat>
                            Save
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <!-- End Edit User -->
        </v-card-title>
        <!-- End Header -->

        <!-- Table Users -->
        <v-data-table :headers="headers" :items="users" :search="search">
            <template slot="items" slot-scope="props">
                <td class="text-xs-right">{{ props.item.id }}</td>
                <td class="text-xs-right">{{ props.item.name }}</td>
                <td class="text-xs-right">{{ props.item.email }}</td>
                <td class="text-xs-right">{{ props.item.created_at }}</td>
                <td class="justify-center layout px-0">
                    <v-tooltip top>
                        <template v-slot:activator="{on}">
                            <v-icon @click="itemToDelete(props.item)" class="mr-2" small v-on="on">delete</v-icon>
                        </template>

                        <span>Delete</span>
                    </v-tooltip>
                </td>
            </template>

            <v-alert :value="true" color="error" icon="warning" slot="no-results">
                Your search for "{{ search }}" found no results.
            </v-alert>
        </v-data-table>
        <!-- End Table Users -->

        <!-- Delete User -->
        <v-dialog v-model="deleteDialog" width="500">
            <v-card>
                <v-card-title class="headline" primary-title>
                    <h2 class="headline">Deleting {{ deletedItem.name }}</h2>
                </v-card-title>

                <v-card-text>
                    You are about to delete <b class="primary--text">{{ deletedItem.name }}</b>. Deleting this user is
                    permanent and you cannot undo this action.

                    <br>
                    <br>

                    Are you sure you want to delete the user <b class="primary--text">{{ deletedItem.name }}</b>?
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="deleteDialog = !deleteDialog" color="normal" flat>Cancel</v-btn>
                    <v-btn @click="deleteItem(deletedItem)" color="error" flat>Delete</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <!-- End Delete User -->
    </v-card>
    <!-- End Users -->
</template>

<script>
    export default {
        name: "Users",
        data() {
            return {
                search: '',
                headers: [
                    {text: '#', align: 'right', sortable: false, value: 'id'},
                    {text: 'Name', align: 'right', sortable: true, value: 'name'},
                    {text: 'E-mail', align: 'right', sortable: true, value: 'email'},
                    {text: 'Created At', align: 'right', sortable: true, value: 'created_at'},
                    {text: 'Actions', align: 'right', sortable: false, value: ''}
                ],
                users: [],
                dialog: false,
                deleteDialog: false,
                defaultItem: {
                    email: ''
                },
                editedItem: {
                    email: ''
                },
                deletedItem: {
                    email: ''
                },
                valid: true,
                hasErrors: false,
                emailRules: [
                    v => /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || 'E-mail must be valid'
                ],
                errors: []
            };
        },

        computed: {
            formTitle() {
                return 'New User';
            }
        },

        watch: {
            dialog(val) {
                val || this.close();
            }
        },

        created() {
            this.getUsers();
        },

        methods: {
            getUsers() {
                axios.get('/bo/get-users')
                    .then(response => {
                        this.users = response.data;
                    });
            },

            save() {
                this.editedItem._token = window.Laravel.csrfToken;

                axios.post('/users', this.editedItem)
                    .then(response => {
                        this.error = [];
                        this.toast(response.data.message);
                        this.close();
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data || {};
                            this.hasErrors = true;
                        }
                    });
            },

            itemToDelete(item) {
                this.deleteDialog = true;
                this.deletedItem = item;
            },

            deleteItem(item) {
                axios.delete('/users/' + item.id)
                    .then(response => {
                        this.toast(response.data.message);
                        this.closeDelete();
                    });
            },

            clearErrors() {
                if (this.hasErrors) {
                    this.errors = [];
                    this.hasErrors = false;
                }
            },

            toast(message) {
                this.$toasted.show(message, {
                    type: 'success',
                    theme: "primary",
                    position: "top-right",
                    icon: 'check_circle',
                    duration: 2500
                });
            },

            close() {
                this.dialog = false;
                this.hasErrors = false;
                this.errors = [];
                this.editedItem = Object.assign({}, this.defaultItem);
                this.$refs.form.reset();
            },

            closeDelete() {
                this.deleteDialog = false;
                this.users.splice(this.users.indexOf(this.deletedItem), 1);
            }
        }
    }
</script>