<template>
    <div :class="{'custom-error': valid}" class="help-block">
        <span v-for="error in errors">{{ error }}</span>
    </div>
</template>

<script>
    export default {
        props: ['valid', '_errors.scss'],
    }
</script>