<template>
    <div>
        <v-flex md12 v-if="value.id === undefined">
            <v-select ref="typeSelect" :items="types" @change="selectType" label="Type"></v-select>
        </v-flex>

        <v-flex md12 v-if="typeSelected === 'Pages' || value.page_id !== 0">
            <v-select :items="lists.pages" :value='value["page_id"]' @input="handleInput('page_id')" item-text="name"
                      item-value="id" label="Page" ref="page_id"></v-select>
        </v-flex>


        <v-flex md12 v-if="typeSelected === 'Equipments' || value.equipment_id !== 0">
            <v-select :items="lists.equipments" :value='value["equipment_id"]' @input="handleInput('equipment_id')"
                      item-text="name" item-value="id" label="Equipment" ref="equipment_id"></v-select>
        </v-flex>


        <v-flex md12 v-if="typeSelected === 'Services' || value.service_id !== 0">
            <v-select :items="lists.services" :value='value["service_id"]' @input="handleInput('service_id')"
                      item-text="title" item-value="id" label="Service" ref="service_id"></v-select>
        </v-flex>


        <v-flex md12 v-if="typeSelected === 'Areas' || value.area_id !== 0">
            <v-select :items="lists.areas" :value='value["area_id"]' @input="handleInput('area_id')" item-text="name"
                      item-value="id" label="Area" ref="area_id"></v-select>
        </v-flex>
    </div>
</template>

<script>
    export default {
        name: "TypeSelector",
        props: ['value', 'lists'],
        data() {
            return {
                types: ['Pages', 'Equipments', 'Services', 'Areas'],
                typeSelected: ''
            }
        },
        methods: {
            selectType(e) {
                this.typeSelected = e;
            },

            handleInput(prop) {
                switch (prop) {
                    case 'page_id':
                        this.value[prop] = this.$refs[prop].lazyValue;
                        break;
                    case 'equipment_id':
                        this.value[prop] = this.$refs[prop].lazyValue;
                        break;
                    case 'service_id':
                        this.value[prop] = this.$refs[prop].lazyValue;
                        break;
                    case 'area_id':
                        this.value[prop] = this.$refs[prop].lazyValue;
                        break;
                    default:
                        break;
                }

                this.$emit('input', Object.assign({}, this.value));
            }
        }
    }
</script>