<template>
    <div>
        <v-text-field :id="target" :label="`Select ${target}`" :value="value[`${target}`]"
                      @click="pickFile(`${target}`)"
                      required></v-text-field>
        <input :ref="target" @change="onFilePicked" accept="image/*" style="display: none" type="file">
    </div>
</template>

<script>
    export default {
        name: "UploadImage",
        props: ['value', 'target', 'label'],
        methods: {
            pickFile(ref) {
                this.$refs[ref].click();
            },

            onFilePicked(e) {
                const files = e.target.files,
                    element = document.activeElement.id;

                if (files[0] !== undefined) {
                    if (files[0].name.lastIndexOf('.') <= 0) {
                        return;
                    }

                    const fr = new FileReader();
                    fr.readAsDataURL(files[0]);
                    fr.addEventListener('load', () => {
                        this.value[element] = files[0].name;

                        if (e.target.files[0].type !== 'image/svg+xml') {
                            this.handleImageUpload(files[0], element);
                        } else {
                            this.value[element + '_upload'] = e.target.files[0];
                        }
                    });
                }
            },

            handleImageUpload(file, element) {
                const options = {
                    maxSizeMB: 1,
                    maxWidthOrHeight: 1920,
                    useWebWorker: true,
                    maxIteration: 100
                };

                this.$emit('valid', false);

                imageCompression(file, options)
                    .then(function (compressedFile) {
                        this.value[element + '_upload'] = new File([compressedFile], file.name, {
                            type: "image/jpeg",
                            lastModified: Date.now()
                        });

                        this.$emit('valid', true);
                        this.$emit('input', this.value);
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error.message);
                    });
            }
        }
    }
</script>