.login-background {
  background-image: linear-gradient(134.86deg, #0575E6 0%, #499DF1 100%), url(https://unsplash.it/g/1920/1080/?random);
  background-blend-mode: color;
  background-repeat: no-repeat;
  background-size: cover;
}

.center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}